/*
 * File: problemSetCount.module.scss
 * Description: 题目集统计页面相关样式
 * Created: 2020-9-5 13:17:01
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.time_line_body {
  display: flex;
}

.time_line_tags {

}

.time_line_description {
  display: flex;
}

.time_line_description_creator {
  font-weight: bold;
  margin-right: 6px;
}

.time_line_description_content {

}

.time_line_time{
  font-weight: bold;
}