/*
 * File: problemSetCount.module.scss
 * Description: 题目集统计页面相关样式
 * Created: 2020-9-5 13:17:01
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";

$time_line_item_to_icon_spacing: 20px;

.problem_set_count {
  @include common-page;
}

.problem_set_count_content {
  @include common-page-content;
}

.problem_set_count_body {
  @include common-page-body;
  display: flex;
  justify-content: center;
}

.time_line_body {
  background-color: #f5f6f9;
  padding: 24px;
  border-radius: 10px;
  margin: $time_line_item_to_icon_spacing;
  text-align: left;
}

.time_line_tags {

}

.time_line_description_head {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.time_line_description_content {

}

.time_line_time {
  color: #7c7f8c;
  margin-left: $time_line_item_to_icon_spacing;
  margin-right: $time_line_item_to_icon_spacing;
}

.time_line_icon {
  font-size: 20px;
}

.time_line_icon_first_ac {
  font-size: 20px;
  color: #722ed1;
}


.time_line_pagination {
  display: flex;
  justify-content: center;
}