.login-page-image {
  width: 600px;
}

.login-page {
  display: flex;
}

.login-area-title-main {
  font-size: 30px;
  font-weight: bold;
}

.login-form {
  width: 350px;
}

.login-area-title {
  display: flex;
  justify-content: space-between;
  line-height: 75px;
}
