/*
 * File: problemEdit.module.scss
 * Description: 题目编辑页样式
 * Created: 2020-8-25 15:35:48
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";

$form-width: 550px;

.cms_problem_edit_item {
  margin-bottom: $cms_operation_card_spacing;
}

.cms_problem_edit_item_title {
  @include cms_operation_card;
}

.cms_problem_edit_item_title_danger {
  @include cms_operation_card;
  color: $cms_operation_card_danger_color;
}

.cms-problem-item-begin {
  padding-top: 8px;
}

.cms-problem-editor-test-case-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;
  height: auto;
}

.problem_edit_limitation_form {
  width: $form-width;
  padding-top: 20px;
}


.problem_edit_basic_info_form {
  width: $form-width;
  padding-right: 20px;
}

.problem_edit_basic_info_wrap {

}

.problem_edit_content_editor {
  max-width: 1150px;
}

.problem_edit_content_editor_body {
  box-shadow: $header-box-shadow;
  min-height: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
