.landing-header {
  position: relative;
  padding: 24px 0;
}

.landing-header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 16px;
}

.main-part {
  position: relative;
  text-align: center;
  padding-top: 40px;
  font-family: "Mukta", sans-serif;
}

.main-part-content-wrap {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;


  .main-part-title {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 22px;
    line-height: 72px;
  }

  .main-part-paragraph {
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 300;
    color: #6F8394;
  }

  .register {
    margin-right: 15px;
    border: none;
  }

  .main-part-button {
    width: 100px;
    border-radius: 4px;
    font-size: 16px;
    height: 42px;
  }
}

.main-part-left {
  width: 500px;
}

.main-part-illustration-image {
  width: 700px;
}

.landing-features {
  padding-top: 80px;
}

.feature-card-icon-wrap {
  font-size: 40px;
}

.feature-card-wrap {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.feature-card-content {
  font-size: 18px;
  font-weight: 300;
  padding-top: 17px;
  color: #6F8394;
}

.landing-features-card-wrap {
  display: flex;
  justify-content: space-between;

}

.landing-footer {
  background-color: #1F2B35;
  height: 140px;
}

.landing-item {
  width: 1400px;
  padding-left: 50px;
  padding-right: 50px;
}

.landing-item-footer {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 1400px;
}

.landing-page {
  background-color: #F6F8FA;
  display: flex;
  justify-content: center;
}