/*
 * File: testCaseList.module.scss
 * Description: 测试点列表样式
 * Created: 2020-9-8 22:53:21
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.test_case_title {
  font-weight: bold;
  padding-bottom: 7px;
}

.download_button {
  float: right;
}

.list_item_description {
  color: rgba(0, 0, 0, .45);
}