$dash-board-max-width: 1200px;
$dash-board-min-width: 1000px;

.head-card-item-icon {
  font-size: 40px;
}

.head-card-item-content {
  font-weight: bold;
  font-size: 20px;
}

.head-card-item-topic {
  font-weight: 250;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-head {
  max-width: $dash-board-max-width;
  min-width: $dash-board-min-width;
}

.dashboard-charts {
  padding-top: 30px;
  max-width: $dash-board-max-width;
  min-width: $dash-board-min-width;
}

.dashboard-tables {
  padding-top: 35px;
  max-width: $dash-board-max-width;
  min-width: $dash-board-min-width;
}

.chart-wrap {
  height: 220px;
}