.score-board-table {
  max-width: 1000px;

  .ant-table-tbody {
    .ant-table-cell {
      padding: 1px;
    }
  }
}

.problem-cell {
  padding: 2px 12px;
  width: 67px;
  height: 48px;
}

.accept {
  background-color: #60e760;
}

.wrong-answer {
  background-color: #e87272;
}