.markdown-editor-wrap {
  width: 800px;
}

.markdown-show {
  padding-left: 80px;
  word-break: break-word;
  overflow: auto;
  max-height: 600px;
}

.submit-detail-descriptions-label {
  width: 100px;
  text-align: center;
}

.submission-detail-code{
  text-align: left;
}