/*
 * File: public.scss
 * Description: 公共样式
 * Created: 2020-9-5 22:25:18
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

// 页面导航条阴影
$public-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);

// 一般页面边距
$common-page-padding: 20px 80px 20px 80px;

// 一般页面遮罩背景色
$common-page-mask-background-color: rgba(217, 217, 217, 0.4);

// 导航栏字体
$common-nav-font-weight: bold;


// common页面基础高度
$common-page-min-height: calc(100vh - 51px);

// common页面基础高度
$common-problem-home-page-title-card-min-height: calc(100vh - 51px - 90px);

// common页面基础高度
$common-page-title-card-min-height: calc(100vh - 51px - 90px);

// 后台侧边栏宽度
$cms-sider-width: 230px;

// 后台主体边距
$cms-content-margin: 90px 50px 30px;

// 后台管理操作组卡片
$cms_operation_card_title_font_size: 15px;
$cms_operation_card_title_font_weight: bold;
$cms_operation_card_spacing: 30px;
$cms_operation_card_danger_color: #ff4d4f;

@mixin cms_operation_card {
  font-weight: $cms_operation_card_title_font_weight;
  font-size: $cms_operation_card_title_font_size;
}

::-webkit-scrollbar {
  display: none;
}

