.login_page_image {
  width: 350px;
}

.login_page {
  display: flex;
  justify-content: center;
}

.login_area_title_main {
  font-size: 30px;
  font-weight: bold;
}

.login_form {
  width: 380px;
}

.login_area_title {
  display: flex;
  justify-content: space-between;
  line-height: 75px;
}

.login {
  width: 880px;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

