/*
 * File: codeEditor.module.scss
 * Description: 代码编辑器样式
 * Created: 2020-8-26 17:28:10
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.code_editor {

}

.code_editor_language_selector {
  padding-bottom: 20px;
}

.code_editor_editor_wrap {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
}

.code_editor_submit_tools {
  padding-top: 25px;
}