/*
 * File: submissionInspect.module.scss
 * Description: 提交查看页面样式
 * Created: 2020-9-7 14:00:33
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */


.submission_detail_code {
  height: 300px;
  width: 760px;
  overflow: auto;
}


.compiler_std_out_show {
  text-align: left;
  width: 760px;
  background-color: #f5f5f5;
  border-radius: 5px;
}