/*
 * File: conditionTag.module.scss
 * Description: 状态标签
 * Created: 2020-9-8 20:45:48
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.judge_condition_tag_wrap {
  text-align: center;
}

@keyframes loading {
  0% {
    background-position: -35px 0;
  }

  100% {
    background-position: 35px 0;
  }
}


.judge_condition_tag_wrap_loading {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
  transition: 0.8s;
  background: linear-gradient(to right, #b2b2b2 10%, #bfbfbf 40%, #b4b4b4 90%);
}
