/*
 * File: editorTip.module.scss
 * Description: 编辑器工具栏样式
 * Created: 2020-9-7 16:26:24
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.editor_tip {
  display: flex;
  justify-content: space-between;
}

.editor_tip_item_title {
  font-size: 14px;
  font-weight: 600;
}

.editor_tip_item_description {
  padding-top: 6px;
}
