/*
 * File: profile.module.scss
 * Description: 个人中心页面样式
 * Created: 2020-9-4 23:05:51
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";

// 每个小内容的宽高
$profile-item-width: 500px;
$profile-item-height: 300px;

// 内容间距
$profile-item-spacing: 20px;

.profile {
  @include common-page;
}

.profile_content {
  @include common-page-content;
}

.profile_user_info {
  margin-right: 20px;
  display: flex;
}

.profile_user_have_pass {
  width: $profile-item-width;
  margin-right: $profile-item-spacing;
}

.profile_user_have_tried {
  width: $profile-item-width;
}

.profile_group_item {
  margin-bottom: $profile-item-spacing;
}

.profile_recent_submission {
  width: $profile-item-width;
  margin-right: $profile-item-spacing;
  height: $profile-item-height;
}

.profile_recent_judge_result_count {
  width: $profile-item-width;
  height: $profile-item-height;
}