/*
 * File: commonTitle.module.scss
 * Description: 统一标题样式
 * Created: 2020-9-5 18:34:31
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.common_title {
  display: flex;
  align-items: center;
}

.common_title_content {

}

.common_title_icon {
  font-size: 20px;
  margin-right: 5px;
}