/*
 * File: basicResult.module.scss
 * Description: 结果页样式
 * Created: 2020-8-30 23:01:43
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

.basic_result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}