@import "src/styles/normalize.scss";
@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
@import '~antd/dist/antd.css';
@import "pages/index";
@import "components/index";

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 251, 253, 0.80);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}