/*
 * File: layout.module.scss
 * Description: 布局相关样式
 * Created: 2020-9-6 12:23:23
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";

// common 布局
.problem_set_layout_menu {
  box-shadow: $public-box-shadow;
  background-color: #ffffff;
  margin-bottom: 2px;
}

.common_content {
  background-image: url("http://cdn.yuzzl.top/bbbbbb.png");
}

.common_content_mask {
  background-color: $common-page-mask-background-color;
  min-height: calc(100vh - 51px);
  padding: $common-page-padding;
}

.nav_text {
  font-weight: $common-nav-font-weight;
}

.logo_wrap {
  padding: 0 0 0 14px !important;
  margin: 0 !important;
  border-bottom: 2px solid transparent !important;
}

// cms 布局

// cms右侧部分，即除了侧边栏的部分
.cms_right {
  margin-left: $cms-sider-width;
}

// cms页面主体
.cms_content {
  margin: $cms-content-margin;
}

// cms页面头部
.cms_header {
  background-color: #ffffff;
  padding: 0;
  z-index: 666;
  box-shadow: $public-box-shadow;
  position: fixed;
  height: 64px;
  width: calc(100vw - 230px);
}

// cms侧边栏
.cms_sider {
  height: 100vh;
  position: fixed;
  left: 0;
}

.cms_logo {
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px;
}