/*
 * File: problemHome.module.scss
 * Description: 问题首页路由
 * Created: 2020-8-26 18:21:58
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";


.problem_home {
  @include common-page;
}

.problem_home_body {
  @include common-page-content;
}


.problem_home_title {
  text-align: center;

  .problem_home_title_problem_name {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
  }

  .problem_home_title_problem_limitation {

  }
}

.problem_home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;


  .problem_home_content_route_selector {
    padding-bottom: 15px;
  }

  .problem_home_content_body {
    padding-bottom: 15px;
    width: 60vw;
  }

  .problem_home_content_item {
    margin-bottom: 25px;
  }
}
