/*
 * File: problemHome.module.scss
 * Description: 问题首页路由
 * Created: 2020-8-26 18:21:58
 * Author: yuzhanglong
 * Email: yuzl1123@163.com
 */

@import "src/styles/public";

@keyframes loading {
  0% {
    background-position: -35px 0;
  }

  100% {
    background-position: 35px 0;
  }
}

.judge-condition-tag-wrap {
  text-align: center;
}

.judge-condition-tag-wrap-loading {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
  transition: 0.8s;
  background: linear-gradient(to right, #b2b2b2 10%, #bfbfbf 40%, #b4b4b4 90%);
}

.submission-detail-code {
  height: 300px;
  width: 760px;
  overflow: auto;
}

.compiler-std-out-show {
  text-align: left;
  width: 760px;
  background-color: #f5f5f5;
  border-radius: 5px;
}


.problem_home {
  @include common-page;
}

.problem_home_body {
  @include common-page-content;
}


.problem_home_title {
  text-align: center;

  .problem_home_title_problem_name {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
  }

  .problem_home_title_problem_limitation {

  }
}

.problem_home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;


  .problem_home_content_route_selector {
    padding-bottom: 15px;
  }

  .problem_home_content_body {
    padding-bottom: 15px;
    width: 60vw;
  }

  .problem_home_content_item {
    margin-bottom: 25px;
  }
}
